<table id="todays_arrivals">
  <tr>
    <th>Name</th>
    <th>Flight</th>
    <th>From</th>
    <th>Time</th>
  </tr>
  <% @arrivals.each do |arrival| %>
    <tr>
      <td><%= arrival.passenger_name %></td>
      <td><%= arrival.flight_number %></td>
      <td><%= arrival.from %></td>
      <td><%= arrival.arrival_time.to_s(:pretty_time) %></td>
    </tr>
  <% end %>
</table>