<table id="todays_arrivals">
  <tr>
    <th>Name</th>
    <th>Flight</th>
    <th>From</th>
    <th>Time</th>
  </tr>
  <tr>
    <td>Richard</td>
    <td>UA 123</td>
    <td>PHX</td>
    <td>2:38pm</td>
  </tr>
</table>